.Button {
  padding: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;

  gap: 4px;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  font-weight: 600;

  transition: all 0.2s ease-in-out;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &.full {
    width: 100%;
    justify-content: center;
  }

  &:disabled {
    opacity: 0.5;
  }
}
