.ChatBox {
  animation: fadeIn 1s forwards;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 8px;

  background-color: rgb(209, 209, 209);

  &.isMine {
    background-color: rgb(225, 255, 183);
  }

  .NickName {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .MessageContainer {
    display: flex;
    justify-content: space-between;

    .Message {
      color: rgb(32, 32, 32);
    }

    .Date {
      font-size: 13px;
      color: rgb(113, 113, 113);
    }
  }
}
