.Drawer {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 80%;
  z-index: 100;
  border-radius: 10px;

  background: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  transition: all 0.3s ease-out;

  .DrawerBody {
    margin: 24px;
  }

  &.active {
    left: 0;
  }
}
