.AuthService {
  .InputContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .Label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
  }

  .RegisterText {
    text-align: right;
  }
}
